<h1>What are you allergic to?</h1>
<form action="/results">
  <div class="form-group">
    <label for="score">What is your allergy score?</label>
    <input type="text" name="score" required>
  </div>
  <button type="submit" name="button" class="btn-success">Allergens?</button>
</form>
